button {
  border-radius: 5px;
  letter-spacing: .05rem;
}

input[type='text'] {
  border: 2px solid #000;
}

.form-container {
  background-color: blanchedalmond;
  border: 2px solid #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}